node_modules/
.pnp
.pnp.js

.expo/
.expo-shared/
dist/
web-build/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
*.log

/ios
/android
ios/
android/

.env
.env.local
.env.*.local
!.env.example

.metro-health-check*

npm-debug.*
yarn-debug.*
yarn-error.*
*.tsbuildinfo

.DS_Store

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea/
*.swp

eas-build-cache/